$p-color: #007aed;
$s-color: #222222;
$s-2-color: #444;
$s-3-color: #333;
$small-color: #d5d5d5;
$big-color: #f5f5f5;
$unfocused-color: #aaa;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1100px;

*{
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;

    &::before,&::after{
        box-sizing: border-box;
    }

}

@mixin  display-center($ai: center, $jc: center) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}
@mixin transition($du: .3s) {
    transition: all $du ease;
}

@mixin media($sw) {
    @media screen and (max-width: $sw){
        @content;
    }
}

@keyframes preloader{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: .5;
        transform: scale(1.3);  
    }
    100%{
        opacity: 1;
        transform: scale(1.5);
    }
}