@import "config";
@import "preloader";
@import "header";
@import 'footer';
// About Me page 
@import "About-me/home";
@import "About-me/services";
@import "About-me/clients";
@import "About-me/funfacts";
@import "About-me/pricing";

// Resume Page
@import "Resume/qualifications";
@import "Resume/certificates";
@import "Resume/skills";

// Works Page
@import 'Works/works';

// Blog Page
@import 'Blogs/bolgs';

// Contact Page
@import 'Contact/contact';

// Responsive
@import "resposive";
body,
html {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $p-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $unfocused-color;
}


.page{
  width: 100%;
  height: 100%;
  background-color: $s-color;
  &-header{
    position: relative;
    padding: 50px 80px;
    background-color: #252525;
    border-top: 1px solid $s-2-color;
    border-bottom: 1px solid $s-2-color;
    margin-bottom: 40px;
    h2{
      font-size: 3rem;
      font-weight: 600;
      color: $big-color;
    }
    span{
      position: absolute;
      top: 10px;
      right: 80px;
      color: $unfocused-color;
      font-size: 1rem;
    }
  }

  &-con{
    height: 100%;
    padding: 40px 80px;
    background: $s-color;
  }
}

.section-header {
  position: relative;
  margin-bottom: 30px;
  span {
    color: $big-color;
    font-weight: 600;
    font-size: 1.3rem;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 35px;
    height: 2px;
    background-color: $p-color;
  }
}

.border-left::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: $s-2-color;
}

.border-right::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: $s-2-color;
}

.border-top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $s-2-color;
}
.border-bottom::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $s-2-color;
}
