.certificates {
    padding-bottom: 40px;
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2rem;

    .certificate {
      @include transition;
        display: flex;
      border: 2px solid $s-2-color;
      border-radius: 15px;
      
      &:hover{
        transform: translateY(-5px);
      }
      
      &_img {
        flex: 1;
        background-color: #444;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        @include display-center;
        img {
          width: 60%;
        }
      }
      &_dics {
        flex: 3;
        padding: 20px;

        .title {
          color: $big-color;
          font-size: 0.9rem;
          font-weight: 600;
        }
        .id {
          color: #535353;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.3;
        }
        .date {
          color: #535353;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 0;
        }
      }
    }
  }
}
