.mapBox {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  .mapouter {
    position: relative;
    text-align: right;
    height: 200px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    
    iframe{
        border-radius: 15px;
    }
  }
}


.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 40px;
  gap: 2rem;
  &-address {
      &__item{
        @include display-center;
        margin-bottom: 10px;
        color: $small-color;
        .icon{
            color: $p-color;
            align-self: flex-start;
            margin: 5px 20px 0 0;
            font-size: 2rem;
        }
        .text{
            h2{
                line-height: 2;
                color: $big-color;
            }
            p{
                font-size: .9rem;
            }
        }
      }
  }
  &-form {
    .form {
      &-group__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1rem;

        .form-group {
          input,
          textarea {
              color:$small-color;
            box-sizing: border-box;
            width: 100%;
            max-height: 200px;
            resize: none;
            font-size: 1.1rem;
            background-color: transparent;
            border: 1px solid #666;
            padding: 10px;
            justify-self: center;
            align-self: center;
            border-radius: 7px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }

          input {
            height: auto;
            margin-bottom: 15px;
          }
        }
      }

      .send-btn{
          @include transition;
          background-color: $s-2-color;
          border: 2px solid $p-color;
          padding: 8px 20px;
          border-radius: 23px;
          color: $big-color;
          font-size: 1rem;
          font-weight: 400;
            cursor: pointer;
          &:hover{
              background-color: $p-color;

          }
      }
    }
  }
}
